*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.container{
    margin:auto;
    margin-top: 20px;
}
.img{
    /* background-color: red; */
    width: calc(100% / 3 - 20px) ;
    /* border: 3px solid black; */
    float: left;
    position: relative;
}
.centro{
    margin: 0px 20px;
}
.foto{
    width: 100%;
    height: 100%;
}
.sconto{
    position: absolute;
    background: #D84050;
    bottom: 10px;
    width: 60px;
    text-align: center;

}
.sostenibilità{
    position: absolute;
    background: green;
    bottom: 10px;
    left: 80px;
    text-align: center;

}
.cuore {
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 30px;
    color: black;
    padding: 5px 20px;
    background-color: white;
}
.descrizione{
    position: absolute;
    bottom: -80px;
    font-size: 20px;
}
.scritta{
    text-transform: uppercase;
}
.prezzo{
    color: red;
} 
.foto-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.foto-back:hover{
    display: none;
}
.foto-bmid{
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
}
.foto-bmid:hover{
    display: none;
}
.verde{
    background-color: lightgreen;
    width: 100%;
}
.container2{
    margin-top: 100px;
}
.sostenibilità-only{
    position: absolute;
    background: green;
    bottom: 10px;
    width: 80px;
    text-align: center;

}

